@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Satisfy&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  width: 2000px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
}
h1 {
  text-align: center;

  font-size: 50px;
  font-family: 'Satisfy', cursive;
  margin-bottom: 20px;
}

.App form {
  display: inline-block;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 19px 1px rgba(0, 0, 0, 0.39);
  margin-bottom: 30px;
}
.App input {
  line-height: 40px;
  border-radius: 20px 0 0 20px;
  border: 2px solid gray;
  width: 1000px;
  padding: 0 20px;
}
.App input:focus {
  margin: 0 auto;
  outline: none;
}
.App button {
  margin: 0 auto;
  line-height: 40px;
  border: none;
  background-color: #ffffff;
  padding: 0 30px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}
.App button:focus {
  margin: 0 auto;
  outline: none;
}
.searchResultDiv .image {
  position: realtive;
  right: 50%;
}



.searchResultDiv {
  display:flex;
  width: 2000px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;

}
.searchResultDiv h3 {
  padding-left: 10px;
  text-decoration: none;
  color: #1a0dab;
  
}
.searchResultDiv h3 a {
  font-size: larger;
  text-decoration: none;
  text-align: right;
  display: block;
  color: #1a0dab;

}
.searchResultDiv h3 a:hover {
  border-bottom: 3px solid;
}
.searchResultDiv a:visited {

  color: #1a0dab;
}
.searchResultDiv .link a {
  text-decoration: none;
  color: #287e44;
}
.searchResultDiv .link a:hover {

  text-decoration: none;
}
.searchResultDiv .searchmatch {
  text-align: center;

  font-weight: bold;
}

.searchResultDiv .description {
  color: #414141;
  text-align: left;
  padding-top: 10px;
  padding-left: 2px;
}